@tailwind base;
@tailwind components;
@tailwind utilities;


/* universal styles  */
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;
}

/* resuable classes */
@layer components{
    .flex-center{
        @apply flex justify-center items-center;
    }

    .btnHoverEffect {
        transform: translateY(0px);
        transition: transform 0.9s ease-in-out;
    }

    .btnHoverEffect:hover{
        transform: translateY(-6px);
    }

    .playBtnHoverEffect{
        transform: scale(1);
        transition: transform 0.6s ease-in-out;
    }

    .playBtnHoverEffect:hover{
        transform: scale(1.1);
    }
}

body{
    background-image: url(/public/Decore.png);
    background-repeat: no-repeat;
    background-size:40%;
    background-position: top right;
}

